<!DOCTYPE html>
  {% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Odontología</title>
    <link rel="stylesheet" href='{% static "css/main.css" %}'>

  </head>
  <body>
    <div class="login-box">
      <img src='{% static "img/logo.png" %}' class="avatar" alt="Avatar Image">
      <h1>Iniciar sesión</h1>

      <form method="" action="{% url 'home' %}">
        <div>
          <label></label>
        </div>
        <input type="text" placeholder="Ingresa usuario" name="username" id="username">
        <div>
          <label></label>
          <input type="password" placeholder="contraseña" name="password" id="password">
        </div>
        <input type="submit" value="Ingresar" style="background: #607d8b;">
        </form>
    </div>
  </body>
</html>