{% extends 'base.html' %}
{% load static%}
{% block content %}

<h1 style="text-align: center; margin-top: 20px; font-family: 'Montserrat', sans-serif;">Ventas</h1>
<br>
<form action='' class="form-horizontal" enctype="multipart/form-data">
	<!--<div>
			<button class="btn" type="submit" style="background-color: #607d8b; color: #fff;"> Agregar Cliente </button>
		</div>-->

<div class="row col-sm-12">
		<table style="margin-top: 20px; vertical-align: middle;" id="dvData" class="table table-striped" >
			<thead>
				<tr>
					<th >
						<strong>Cliente</strong>
					</th>
					<th >
						<strong>Productos</strong>
					</th>
					<th >
						<strong>Precio unitario</strong>
					</th>
					<th >
						<strong>Precio total</strong>
					</th>
					<th >
						<strong>Eliminar</strong>
					</th>
				</tr>
			</thead>
		</table>
	</div>		
</form>

{% endblock %}